/* media queries */
/* Tablet */
@media (max-width: 991.99px) {
  .container-hero h1{
    font-family: "Kanit", sans-serif;
    font-weight:600;
    font-style: normal;
    font-size: 34px;
  }

  .container-hero {
    max-width: 1020px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .row {
    display: block;
  }

  .col-70 {
    width: 100%;
  }

  .col-30 {
    width: 100%;
  }

  .card-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 15px;
  }

  .card-details h2 {
    display: block;
    padding-bottom: 10px;
  }

  .card-details ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 91px;
    font-size: 20px;
    padding-bottom: 18px;
  }

  /* Container con bottoni */
  br{
    display: none;
  }

  .container-btn{
    width: 100%;
  }

.container-btn .row{
  display: flex;
  flex-wrap: wrap;
}

  .btn-social span{
    display: none;
  }
}

/* Mobile */
@media (max-width: 767.99px){
  .header-title {
    color: rgb(235, 177, 20);
    font-family: "Spicy Rice", serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: 40px;
  }

.container-hero .row{
  display: flex;
}

.card-details{
  display: flex;
  flex-direction: column;
}

.card-details h2{
  margin: 12px 0;
}

.card-details ul, li {
display: block;
margin: 12px 0;
}

.btn-social {
  line-height: 40px;
  border-radius: 50%; 
  width: 40%;
  font-size: 16px;
  background-color: white;
  border-color: white;
  box-shadow: 10px 5px 3px rgb(199, 201, 202);
  cursor: pointer;
}

/* Contaneir con banner */
.container-banner{
  display: none;
}


}